html,
body {
    height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
.container-moder {
    background-color: #F0F2F2;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 100vh;
    margin: 0;
    justify-content:space-between;
    width: 100%;
}

#emailModerButton {
    background-image: url('../img/hand.svg'); /* Replace with your image path */
    background-size: cover;
    border: none;
    cursor: pointer;
    outline: none;
    text-indent: -9999px;
    background-color: transparent;
    margin-right: 2%;
    height: 130px;
    width: 300px;
}

.moder-menu {
    background-color: black;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
}
.moder-menu button {
    border: none;
    background: none;
    font-size: medium;
    color: white;
    cursor: pointer;
    margin-right: 6%;
    text-decoration: underline;
}

.wrap-menu-submit {
    display: flex;
    flex-direction: column;
    height: 22%;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    align-self: flex-end;
}

.moder-email-group {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 10%;
    margin-top: -10%;
}

.moder-email-group input {
    border: none;
    border-bottom: 1.5px solid #535353; /* Adds a solid bottom border - you can change color and thickness */
    height: 1.8em; /* Increases the height of the input field */
    font-size: medium;
    background: transparent;
    margin-top: 2%;
}

.moder-email-group input:focus {
    outline: none;
}

.moder-email-group label {
    font-size: x-large;
}