:root {
  --test-font-family: "Inter-Regular", Helvetica;
  --test-font-weight: 400;
  --test-font-size: 12px;
  --test-letter-spacing: 0px;
  --test-line-height: normal;
  --test-font-style: normal;
}

  